{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titan - Create Exercise</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>
<header class="page-header">
    <h1>Create Personal Exercise</h1>
</header>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create exercise</button>
    </form>
    <p><a href="{% url 'exercise_list' %}"><button type="button">Back to exercises</button></a></p>
</body>
</html>
