{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .errorlist {
            color: #d9534f;
            list-style-type: none;
            padding: 0;
            margin: 5px 0;
            font-size: 14px;
            font-weight: bold;
        }
        p {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
<header class="page-header">
<h1>Login</h1>
</header>
<main class="data-input">
<form method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form>
</main>
</body>
</html>
