{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Titan - Registration</title>
    <style>
        .errorlist {
            color: #d9534f;
            list-style-type: none;
            padding: 0;
            margin: 5px 0;
            font-size: 14px;
            font-weight: bold;
        }
        p {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<header class="page-header">
    <h1>Create a profile in Titan </h1>
</header>
    <form method="post" class="form">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p>Already registered? <a href="{% url 'login' %}"><button type="button">
        Login here!
    </button> </a>.</p>
</body>
</html>