{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Nutrition Overview</title>
</head>
<body>

    <header class="page-header">
    <h1>Nutrition & Foods</h1>
    </header>

    <h2>Today's intake</h2>
    <p>Calories: {{ totals.calories|floatformat:0 }} kcal</p>
    <p>Protein: {{ totals.protein|floatformat:0 }} g</p>
    <p>Carbohydrates: {{ totals.carbohydrates|floatformat:0 }} g</p>
    <p>Fat: {{ totals.fat|floatformat:0 }} g</p>

    <div style="margin-bottom: 20px;">
        <a href="{% url 'create_food' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-primary">
                + Add New Food
            </button>
        </a>
        <a href="{% url 'saved_foods' %}">
            <button type="button" class="btn btn-primary">
                View Saved Foods
            </button>
        </a>
        <a href="{% url 'create_food_log' %}">
            <button type="button" class="btn btn-primary">
                + Add Food to Diary
            </button>
        </a>
        <a href="{% url 'today_food_log' %}">
            <button type="button" class="btn btn-primary">
                Today's Food Log
            </button>
        </a>
        <a href="{% url 'food_log_history' %}">
            <button type="button" class="btn btn-primary">
                Food Log History
            </button>
        </a>
    </div>


    <div style="margin-top: 30px;">
        <a href="{% url 'dashboard' %}"><button type="button">Dashboard</button></a>
    </div>
    <div style="margin-top: 30px;">
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    Log Out
                </button>
            </form>
        </div>

</body>
</html>
